<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="js/vue.min.js"></script>
    <script src="js/qrious.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Gerador de QRCode</title>
</head>

<body>
    <div id="app">
        <h1> {{title}} </h1>
        <div>
            <input type="text" size="25" placeholder="Digite Para Gerar..." v-model="text"> <!-- @input="onData" -->
            <!-- Ao inves de termos o :value="text" podemos v-model="text" e não precisamos ter um evento @input="onData" e nesse caso podemos tirar os methods: -->
        </div>
 
        <div v-if="text" class="output">
            <img :src="newQRCode" alt="QRCode">
        </div>
        <footer class="footer">
            Contato Pelas Redes Abaixo
            <p class="footer">
                <a target="_blank" href="https://github.com/fabioacarvalho">
                    <img height="40" src="https://www.vectorlogo.zone/logos/github/github-tile.svg" data-canonical-src="https://img.shields.io/badge/github-%23100000.svg?&amp;style=for-the-badge&amp;logo=github&amp;logoColor=white&amp;link=mailto:https://github.com/fabioacarvalho" style="max-width:100%;">
                </a>             
                <a target="_blank" href="mailto:fabio22191@gmail.com">
                    <img height="40" src="https://www.vectorlogo.zone/logos/gmail/gmail-tile.svg" data-canonical-src="https://img.shields.io/badge/gmail-D14836?&amp;style=for-the-badge&amp;logo=gmail&amp;logoColor=white&amp;link=mailto:fabio22191@gmail.com" style="max-width:100%;">
                </a>             
                <a target="_blank" href="https://www.linkedin.com/in/fabio-carvalho-881026142/" rel="nofollow">
                    <img height="40" src="https://www.vectorlogo.zone/logos/linkedin/linkedin-tile.svg" data-canonical-src="https://img.shields.io/badge/linkedin-%230077B5.svg?&amp;style=for-the-badge&amp;logo=linkedin&amp;logoColor=white&amp;link=mailto:https://www.linkedin.com/in/fabio-carvalho-881026142/" style="max-width:100%;">
                </a>
            </p>
        </footer>
    </div>

    <script>
        new Vue({
            el: "#app",
            data: {
                title: 'Gerador QRCode',
                text: '',
                qrcode: new QRious({ size: 300 })
            },
            computed: {
                newQRCode() {
                    this.qrcode.value = this.text
                    return this.qrcode.toDataURL()
                }
            },
/* 
            //Refatorado!
            methods: {
                onData(event) {
                    this.text = event.target.value
                }
            }

 */            
        })
    </script>
</body>

</html>